/* Estilos globais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(20, 22, 24);
    font-family: Arial, sans-serif;
    font-family: 'Poppins', sans-serif;
}


html, body {
    border-color: #72695b;
    color: #f2f0ed;
  }
  html {
    color-scheme: dark !important;
  }
  
  :root {
    --dm-neutral-background: #080a0b;
    --dm-neutral-text: #e1dcd7;
    --dm-selection-background: #0048ae;
    --dm-selection-text: #f2f0ed;
  }
  
  ::-webkit-scrollbar {
    background-color: #161a1b;
    color: #afa89c;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: #0e1011;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3f4548;
  }
  
  ::selection {
    background-color: #0048ae !important;
    color: #f2f0ed !important;
  }

  
/* Estilos da caixa */
.caixa {
    background-color: rgb(14, 16, 17);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px;
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botao {
    background-color: #6f42c1;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    padding: 10px 20px;
    transition: background-color 0.2s ease-in-out;
}

.botao:hover {
    background-color: #6d7fc0;
}

#receber {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
    text-align: center;

}

.status{
    list-style-type: none;
}